{% extends 'base.html.twig' %}

{% block title %}Alimentation
{% endblock %}

{% block main %}
	<main>
		<h1 class="titre-main-page">Alimentation</h1>

		<section class="compo-index">
			{% for psu in psus %}
				<article class="compo-card" data-ascin="{{ psu.ascin }}">
					<div>
						<div class="compo-card-img">
							<img src="" alt="Image d'alimentation">
						</div>
						<div>
							<p>{{psu.marque}}
								{{psu.modele}}</p>
							<p class="compo-card-price">{{psu.prix}} €</p>
							<p class="compo-card-note"> </p>
							<a class="compo-card-revendeur" href="">Amazon</a>
						</div>
						{% if build ?? false %}
							{% if build.storageId and (build.psuId is empty or null) %}
								<form method="post" action="{{ path('forge_add_psu', { id: psu.id }) }}">
									<input type="hidden" name="_token" value="{{ csrf_token('add_psu_' ~ psu.id) }}">
									<button class="btn" aria-label="Ajouter {{ psu.marque }} {{ psu.modele }} au build">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-plus-icon lucide-circle-plus" role="img" aria-hidden="true"><circle cx="12" cy="12" r="10"/><path d="M8 12h8"/><path d="M12 8v8"/></svg>
									</button>
								</form>
							{% endif %}
						{% endif %}
				</div>
				<div>
					<p>Wattage : 
						{{ psu.wattage }} W</p>
					<p>Connecteur PCie : 
						{{ psu.pcieConnector}}</p>
					<p>Connecteur EPS : 
						{{ psu.epsConnector }}</p>
					<p>Connecteur SATA : 
						{{ psu.sataConnector }}</p>
				</div>
			</article>
		{% else %}
			<p>Aucune Alimentation trouver</p>
		{% endfor %}
	</section>
</main>{% endblock %}
