{% extends 'base.html.twig' %}

{% block title %}Psu
{% endblock %}

{% block main %}
	<main class="main-show">
		<h1>Psu</h1>

		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ psu.id }}</td>
				</tr>
				<tr>
					<th>Marque</th>
					<td>{{ psu.marque }}</td>
				</tr>
				<tr>
					<th>Modele</th>
					<td>{{ psu.modele }}</td>
				</tr>
				<tr>
					<th>Prix</th>
					<td>{{ psu.prix }}</td>
				</tr>
				<tr>
					<th>Wattage</th>
					<td>{{ psu.wattage }}</td>
				</tr>
				<tr>
					<th>PcieConnector</th>
					<td>{{ psu.pcieConnector }}</td>
				</tr>
				<tr>
					<th>EpsConnector</th>
					<td>{{ psu.epsConnector }}</td>
				</tr>
				<tr>
					<th>SataConnector</th>
					<td>{{ psu.sataConnector }}</td>
				</tr>
				<tr>
					<th>Modularite</th>
					<td>{{ psu.modularite }}</td>
				</tr>
			</tbody>
		</table>
		<div>
			<a href="{{ path('app_psu_index') }}">back to list</a>

			<a href="{{ path('app_psu_edit', {'id': psu.id}) }}">edit</a>

			{{ include('psu/_delete_form.html.twig') }}
		</div>
	</main>
{% endblock %}
