{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block main %}
<main>
	<section class="section-register">

		{{ form_errors(registrationForm) }}

		{{ form_start(registrationForm) }}
		<h1>Inscription</h1>
		{{ form_row(registrationForm.pseudo) }}
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
		{{ form_row(registrationForm.confirmedPassword, {
			label: 'Confirmez le mot de passe'
		}) }}

		<button type="submit" class="btn">Inscription</button>
		<h2>Vous n'avez pas de compte ?</h2>
		<a href="{{ path('app_login') }}">Connexion</a>
		{{ form_end(registrationForm) }}
	</section>
	</main>
{% endblock %}
