{% extends 'base.html.twig' %}

{% block title %}Processeur{% endblock %}

{% block main %}
	<main>
		<h1 class="titre-main-page">Processeur</h1>

		<section class="compo-index">
			{% for cpu in cpus %}
				<article class="compo-card" data-ascin="{{ cpu.ascin }}">
					<div>
						<div class="compo-card-img">
							<img src="" alt="Image de processeur">
						</div>
						<div>
							<p>{{cpu.marque}} {{cpu.modele}}</p>
							<p class="compo-card-price">{{cpu.prix}} €</p>
							<p class="compo-card-note"></p>
							<a class="compo-card-revendeur" href="">Amazon</a>
						</div>
						{% if build ?? false %}
							{% if build.cpuId is empty or build.cpuId is null %}
								<form method="post" action="{{ path('forge_add_cpu', { id: cpu.id }) }}">
									<input type="hidden" name="_token" value="{{ csrf_token('add_cpu_' ~ cpu.id) }}">
									<button class="btn" aria-label="Ajouter {{ cpu.marque }} {{ cpu.modele }} au build">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-plus-icon lucide-circle-plus" role="img" aria-hidden="true"><circle cx="12" cy="12" r="10"/><path d="M8 12h8"/><path d="M12 8v8"/></svg>
									</button>
								</form>
							{% endif %}
						{% endif %}
					</div>
					<div>
						<p>Socket : {{ cpu.socket }}</p>
						<p>Tdp : {{ cpu.tdp }} W</p>
					</div>
				</article>
			{% else %}
				<p>Aucun processeur trouvé</p>
			{% endfor %}
		</section>
	</main>
{% endblock %}
