{% extends 'base.html.twig' %}

{% block title %}Cpu
{% endblock %}

{% block main %}
	<main class="main-show">
		<h1>Cpu</h1>

		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ cpu.id }}</td>
				</tr>
				<tr>
					<th>Marque</th>
					<td>{{ cpu.marque }}</td>
				</tr>
				<tr>
					<th>Modele</th>
					<td>{{ cpu.modele }}</td>
				</tr>
				<tr>
					<th>Prix</th>
					<td>{{ cpu.prix }}</td>
				</tr>
				<tr>
					<th>Socket</th>
					<td>{{ cpu.socket }}</td>
				</tr>
			</tbody>
		</table>
		<div>
			<a href="{{ path('app_cpu_index') }}">retour à la liste</a>

			<a href="{{ path('app_cpu_edit', {'id': cpu.id}) }}">modifier</a>

			{{ include('cpu/_delete_form.html.twig') }}
		</div>
	</main>
{% endblock %}
