{% extends 'base.html.twig' %}

{% block title %}Ram
{% endblock %}

{% block main %}
	<main class="main-show">
		<h1>Ram</h1>

		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ ram.id }}</td>
				</tr>
				<tr>
					<th>Marque</th>
					<td>{{ ram.marque }}</td>
				</tr>
				<tr>
					<th>Modele</th>
					<td>{{ ram.modele }}</td>
				</tr>
				<tr>
					<th>Prix</th>
					<td>{{ ram.prix }}</td>
				</tr>
				<tr>
					<th>Type</th>
					<td>{{ ram.type }}</td>
				</tr>
				<tr>
					<th>Total</th>
					<td>{{ ram.total }}</td>
				</tr>
				<tr>
					<th>NbModule</th>
					<td>{{ ram.nbModule }}</td>
				</tr>
			</tbody>
		</table>
		<div>
			<a href="{{ path('app_ram_index') }}">back to list</a>

			<a href="{{ path('app_ram_edit', {'id': ram.id}) }}">edit</a>

			{{ include('ram/_delete_form.html.twig') }}
		</div>
	</main>
{% endblock %}
