{% extends 'base.html.twig' %}

{% block title %}Cooler
{% endblock %}

{% block main %}
	<main class="main-show">
		<h1>Cooler</h1>

		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ cooler.id }}</td>
				</tr>
				<tr>
					<th>IsAio</th>
					<td>{{ cooler.isAio ? 'Yes' : 'No' }}</td>
				</tr>
				<tr>
					<th>Heigth</th>
					<td>{{ cooler.heigth }}</td>
				</tr>
				<tr>
					<th>Tdp</th>
					<td>{{ cooler.tdp }}</td>
				</tr>
				<tr>
					<th>Marque</th>
					<td>{{ cooler.marque }}</td>
				</tr>
				<tr>
					<th>Modele</th>
					<td>{{ cooler.modele }}</td>
				</tr>
				<tr>
					<th>Prix</th>
					<td>{{ cooler.prix }}</td>
				</tr>
				<tr>
					<th>NbFan</th>
					<td>{{ cooler.nbFan }}</td>
				</tr>
			</tbody>
		</table>
		<div>
			<a href="{{ path('app_cooler_index') }}">retour à la liste</a>

			<a href="{{ path('app_cooler_edit', {'id': cooler.id}) }}">modifier</a>

			{{ include('cooler/_delete_form.html.twig') }}
		</div>
	</main>
{% endblock %}
