		<nav>
			<ul>
				<li>
					<a href="{{path('app_admin_user_index')}}">Utilisateurs</a>
				</li>
				<li>
					<a href="{{path('app_admin_build_index')}}">Builds</a>
				</li>
				<li>
					<a href="{{path('app_admin_news_index')}}">News</a>
				</li>
			</ul>
			<ul>
				<li><a href="{{ path('app_admin_cpu_index') }}">Cpu</a></li>
				<li><a href="{{ path('app_admin_gpu_index') }}">Gpu</a></li>
				<li><a href="{{ path('app_admin_ram_index') }}">Ram</a></li>
				<li><a href="{{ path('app_admin_storage_index') }}">Storage</a></li>
				<li><a href="{{ path('app_admin_motherboard_index') }}">Motherboard</a></li>
				<li><a href="{{ path('app_admin_psu_index') }}">Psu</a></li>
				<li><a href="{{ path('app_admin_cooler_index') }}">Cooler</a></li>
				<li><a href="{{ path('app_admin_fan_index') }}">Fan</a></li>
				<li><a href="{{ path('app_admin_boitier_index') }}">Boitier</a></li>
			</ul>
		</nav>