{% extends 'base.html.twig' %}

{% block title %}Storage
{% endblock %}

{% block main %}
	<main>
		<h1 class="titre-main-page">Storage</h1>

		<section class="compo-index">
			{% for storage in storages %}
				<article class="compo-card" data-ascin="{{ storage.ascin }}">
					<div>
						<div class="compo-card-img">
							<img src="" alt="Image de stockage">
						</div>
						<div>
							<p>{{storage.marque}}
								{{storage.modele}}</p>
							<p class="compo-card-price">{{storage.prix}} €</p>
							<p class="compo-card-note"> </p>
							<a class="compo-card-revendeur" href="">Amazon</a>
						</div>
						{% if build ?? false %}
							{% if build.ramId and (build.storageId is empty or null) %}
								<form method="post" action="{{ path('forge_add_storage', { id: storage.id }) }}">
									<input type="hidden" name="_token" value="{{ csrf_token('add_storage_' ~ storage.id) }}">
									<button class="btn" aria-label="Ajouter {{ storage.marque }} {{ storage.modele }} au build">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-plus-icon lucide-circle-plus" role="img" aria-hidden="true"><circle cx="12" cy="12" r="10"/><path d="M8 12h8"/><path d="M12 8v8"/></svg>
									</button>
								</form>
							{% endif %}
						{% endif %}
					</div>
					<div>
						<p>Type de stockage : 
							{{ storage.type }}</p>
						<p>Interface : 
							{{ storage.interface}}</p>
					</div>
				</article>
			{% else %}
				<p>Aucun processeur trouver</p>
			{% endfor %}
		</section>
	</main>
{% endblock %}
