{% extends 'base.html.twig' %}

{% block title %}Storage{% endblock %}

{% block main %}
<main class="main-show">
    <h1>Storage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ storage.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ storage.type }}</td>
            </tr>
            <tr>
                <th>Interface</th>
                <td>{{ storage.interface }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ storage.marque }}</td>
            </tr>
            <tr>
                <th>Modele</th>
                <td>{{ storage.modele }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ storage.prix }}</td>
            </tr>
        </tbody>
    </table>
<div>
    <a href="{{ path('app_storage_index') }}">back to list</a>

    <a href="{{ path('app_storage_edit', {'id': storage.id}) }}">edit</a>

    {{ include('storage/_delete_form.html.twig') }}
    </div>
    </main>
{% endblock %}
