{% extends "base.html.twig" %}
{% block title %}Redacteur dashboard
{% endblock %}
{% block main %}
	<main class="main-show">
		<nav>
			<ul>
				<li><a href="{{path('app_user_index')}}">Utilisateurs</a></li>
				<li><a href="{{path('app_build_index')}}">Builds</a></li>
				<li><a href="{{path('app_news_adminView')}}">News</a></li>
			</ul>
		</nav>
		<h1>Redacteur dashboard</h1>
		<form class="search-bar" method="get" action="{{ path('app_news_adminView') }}">
			<label for="keywords">Rechercher</label>
			<input type="text" name="keywords">
			<button type="submit">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search-icon lucide-search"><path d="m21 21-4.34-4.34"/><circle cx="11" cy="11" r="8"/></svg>
			</button>
			<button type="reset">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-x-icon lucide-circle-x"><circle cx="12" cy="12" r="10"/><path d="m15 9-6 6"/><path d="m9 9 6 6"/></svg>
			</button>
		</form>
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>titre</th>
					<th>accroche</th>
					<th>image</th>
					<th>créer le</th>
					<th>slug</th>
					<th>action</th>
				</tr>
			</thead>
			<tbody>
				{% for news in newss %}
					<tr>
						<td>{{ news.id }}</td>
						<td>{{ news.titre }}</td>
						<td>{{ news.accroche }}</td>
						<td><img src="{{ news.image ? vich_uploader_asset(news.image, 'imageFile') : asset('img/placeholder/news.png') }}" alt=""></td>
						<td>{{ news.createdAt|date('d/m/y h:m') }}</td>
						<td>{{ news.slug }}</td>
						<td>
							<a href="{{ path('app_news_show', {'id': news.id}) }}">show</a>
							<a href="{{ path('app_news_edit', {'id': news.id}) }}">edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('app_news_new') }}">Create new</a>
	</main>
{% endblock %}
