{% extends 'base.html.twig' %}

{% block title %}News
{% endblock %}

{% block main %}
	<main>
		<h1 class="titre-main-page">Toutes les news
		</h1>
		
		<section class="section-news">

			{% for news in news %}
				<article class="news-index-cards">
					<div>
						<h2>{{news.titre}}</h2>
						<p>{{news.accroche}}</p>
						<a href="{{ path('app_news_show', {id: news.id})}}">Consulter l'article</a>
					</div>
					<div><img src="{{ news.image ? vich_uploader_asset(news.image, 'imageFile') : asset('img/placeholder/news.png') }}" alt="Image de l'article {{ news.titre }}">
					</div>
				</article>
			{% endfor %}
		</section>
	</main>
{% endblock %}
