{% extends 'base.html.twig' %}

{% block title %}News
{% endblock %}

{% block main %}
	<main>
		<h1 class="titre-main-page">Toutes les news
		</h1>
		
		<section class="section-news">

			{% for news in news %}
				<article class="news-index-cards">
					<div>
						<h2>{{news.titre}}</h2>
						<p>{{news.accroche}}</p>
						<a href="{{ path('app_news_show', {id: news.id})}}">Consulter l'article</a>
					</div>
					<div><img src="{{ news.image ? vich_uploader_asset(news.image, 'imageFile') : asset('img/placeholder/news.png') }}" alt="News">
					</div>
					<a href="{{ path('app_news_edit', {'id': news.id}) }}">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-pencil-icon lucide-pencil"><path d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"/><path d="m15 5 4 4"/></svg>
					</a>
				</article>
			{% endfor %}
		</section>
	</main>
{% endblock %}
