{% extends 'base.html.twig' %}

{% block title %}Gpu
{% endblock %}

{% block main %}
	<main class="main-show">
		<h1>Gpu</h1>

		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ gpu.id }}</td>
				</tr>
				<tr>
					<th>Marque</th>
					<td>{{ gpu.marque }}</td>
				</tr>
				<tr>
					<th>Modele</th>
					<td>{{ gpu.modele }}</td>
				</tr>
				<tr>
					<th>Prix</th>
					<td>{{ gpu.prix }}</td>
				</tr>
				<tr>
					<th>PcieModule</th>
					<td>{{ gpu.pcieModule }}</td>
				</tr>
				<tr>
					<th>Length</th>
					<td>{{ gpu.length }}</td>
				</tr>
				<tr>
					<th>Tdp</th>
					<td>{{ gpu.tdp }}</td>
				</tr>
			</tbody>
		</table>
		<div>
			<a href="{{ path('app_gpu_index') }}">back to list</a>

			<a href="{{ path('app_gpu_edit', {'id': gpu.id}) }}">edit</a>

			{{ include('gpu/_delete_form.html.twig') }}
		</div>
	</main>
{% endblock %}
