{{ form_start(form) }}
    {{ form_row(form.pseudo) }}
    {{ form_row(form.resume) }}
    {{ form_row(form.image) }}
    <button class="btn">{{ button_label|default('Sauvegarder') }}</button>

{{ form_end(form) }}
